[Unit]
Description=Impose ton anonymat
After=network.target
StartLimitIntervalSec=120

[Service]
Type=simple
Restart=always
RestartSec=20
User=debian
WorkingDirectory=REMOTE_PATH
EnvironmentFile=REMOTE_PATH/infra/secrets
ExecStart=REMOTE_PATH/run.sh

[Install]
WantedBy=multi-user.target
