[Unit]
Description=Impose ton anonymat
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=debian
WorkingDirectory=/home/debian/bots/impose_ton_anonymat
EnvironmentFile=/home/debian/bots/impose_ton_anonymat/infra/secrets.env
ExecStart=/home/debian/bots/impose_ton_anonymat/run.sh

[Install]
WantedBy=multi-user.target
